@import "./variables";

body {
  background-color: $white;
  color: $dark-gray;
  font-size: $font-normal;
  font-family: "Raleway", sans-serif;
  margin: 0px;
}

h1,
p {
  text-align: center;
}

h3 {
  font-size: $font-large;
}

p {
  font-size: $font-medium;
}
