# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# Environments
server/env/
.env
client/.env

#
client/node_modules

# build
client/dist

# misc
client/npm-debug.log*
